@use "../../styles/settings/variables.scss";

$component-name: header;

.#{$component-name} {
    background-color: variables.$primary;
    margin-bottom: 1rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    &__container {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}