@use '../../styles/settings/variables.scss';

$component-name: 'breadCrumb';

.#{$component-name} {
    display: flex;
    font-weight: bold;
    font-size: .8rem;
    padding: 1rem 0;
    color: variables.$muted;

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__separator {
        margin: 0 .5rem;
    }
}