@use '../settings/variables.scss';

body {
    font-family: variables.$font-family;
    color: variables.$text;
    background-color: variables.$light-gray;
    position: relative;
}

input {
    color: variables.$text;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}