@use '../settings/variables.scss';

body {
    font-family: variables.$font-family;
    color: variables.$color-text;
    background-color: variables.$body-bg-color;
}

button {
    cursor: pointer;
}