$font-family: 'Roboto', sans-serif;

// palette
$primary: #fbe602;
$secondary: #3583f2;
$light: white;
$light-gray: #eeeeee;
$text: #232323;
$muted: #8d8d8d;
$success: green;

// contrast
$secondary-contrast: white;