$font-family: 'Roboto', sans-serif;
// palette
$primary: #fbe602;
$light-color: white;
// background colors
$body-bg-color: #eeeeee;
$surface-bg-color: white;
// text colors
$color-text: black;
$color-text-light: #737373;
$surface-text-color: #2d2d2d;
$success-text-color: green;