@use '/src/styles/settings/variables.scss';

$component-name: 'buyButton';

.#{$component-name} {
    background-color: variables.$secondary;
    color: variables.$secondary-contrast;
    border: none;
    border-radius: .5rem;
    padding: .8rem;
    font-size: 1.2rem;
}