@use '/src/styles/settings/variables.scss';
@use '/src/styles/tools/mixins.scss';

$component-name: 'productSheet';

@mixin d-flex-col {
    display: flex;
    flex-direction: column;
}

.#{$component-name} {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    &__desc {
        @include d-flex-col;
        gap: 1.5rem;

        @media (max-width: 768px) {
            order: 1;
        }

        p {
            @include mixins.line-truncate(7);
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: 2fr 9fr;
        gap: 1rem;
    }

    &__thumbImg {
        width: 100%;
        border: 1px solid variables.$light-gray;
        border-radius: .5rem;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        border-radius: .5rem;
        border: 1px solid variables.$light-gray;
    }
}