@use '../../styles/settings/variables.scss';

$component-name: 'surface';

.#{$component-name} {
    background-color: variables.$light;
    padding: 1.5rem;
    border-radius: .5rem;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}